# Private raw dataset - do not upload
data/
raw_data/
dataset/
datasets/
ER_IHC_Image/
ER_IHC_Mask/
ER_IHC_Int_Image/
Mask_WO_BG/
images/
masks/
raw_images/
raw_masks/

# Dataset archives / compressed files
*.zip
*.rar
*.7z
*.tar
*.tar.gz
*.gz

# Model checkpoints and large model files
*.pt
*.pth
*.ckpt
*.onnx
*.h5
*.joblib
*.pkl
*.pickle

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/
.pytest_cache/

# Virtual environments
venv/
env/
.venv/
.env/

# System files
.DS_Store
Thumbs.db
desktop.ini

# IDE/editor files
.vscode/
.idea/

# Temporary files
*.tmp
*.temp
*.log~
~$*
ER_IHC_Segmentation/outputs/reports/04_resunetds_baseline_resunetds_baseline_fullval_fold1_aug-full_base32_crop320_summary.json
ER_IHC_Segmentation/outputs/reports/03_unet_baseline_unet_baseline_fullval_fold1_aug-full_base32_crop320_summary.json
ER_IHC_Segmentation/outputs/reports/03_unet_baseline_unet_baseline_fullval_fold2_aug-full_base32_crop320_summary.json
ER_IHC_Segmentation/outputs/reports/03_unet_baseline_unet_baseline_fullval_fold3_aug-full_base32_crop320_summary.json
ER_IHC_Segmentation/outputs/reports/03_unet_baseline_unet_baseline_fullval_fold4_aug-full_base32_crop320_summary.json
ER_IHC_Segmentation/outputs/reports/04_resunetds_baseline_resunetds_baseline_fullval_fold0_aug-full_base32_crop320_summary.json
ER_IHC_Segmentation/outputs/reports/04_resunetds_baseline_resunetds_baseline_fullval_fold1_aug-full_base32_crop320_summary.json
ER_IHC_Segmentation/outputs/reports/04_resunetds_baseline_resunetds_baseline_fullval_fold2_aug-full_base32_crop320_summary.json
ER_IHC_Segmentation/outputs/reports/04_resunetds_baseline_resunetds_baseline_fullval_fold3_aug-full_base32_crop320_summary.json
ER_IHC_Segmentation/outputs/reports/04_resunetds_baseline_resunetds_baseline_fullval_fold4_aug-full_base32_crop320_summary.json
ER_IHC_Segmentation/outputs/reports/05_proposed_amc_ordinal_proposed_amc_ (2).json
ER_IHC_Segmentation/outputs/reports/05_proposed_amc_ordinal_proposed_amc_.json
ER_IHC_Segmentation/outputs/reports/05_proposed_amc_ordinal_proposed_amc_ordinal_fullval_fold3_aug-full_base32_crop320_ord0.1_ft0.5_amcmax0.85_gain0.2_target0.7_c4protect_c2b1.0_c3b1.0_c4b1.75_scorec40.2_summary.json
ER_IHC_Segmentation/outputs/reports/05_proposed_amc_ordinal_proposed_amc_ordinal_fullval_fold4_aug-full_base32_crop320_ord0.1_ft0.5_amcmax0.85_gain0.2_target0.7_c4protect_c2b1.0_c3b1.0_c4b1.75_scorec40.2_summary.json
